/HowToCashier/Library/APIUpdater/ConfigurationCache
/HowToCashier/Library/Artifacts
/HowToCashier/Library
/HowToCashier/Logs
*.log
/HowToCashierGame/Library
/HowToCashierGame/Temp
/HowToCashierGame/.vs
/HowToCashierGame/obj
/HowToCashierGame/UserSettings
/HowToCashierGame/UserSettings
